<div class="main posts-new">
	<div class="container">
		<h1 class="form-heading">知りたい”ことば”を投稿する</h1>
		<% if session[:user_id] %>
		  <%= form_tag("/posts/create")do %>
		    <div class="form">
			  <div class="form-body">
			    <% @post.errors.full_messages.each do |message| %>
				<div class="form_error">
					<%= message %>
				</div>
				<% end %>
				<p>ことば</p>
				<input name="content" value ="<%= @post.content %>">
				<p>読み方</p>
				<input name = "reading" value = "<%= @post.reading %>">
				<input type ="submit" value="投稿">
			  </div>
		   </div>
		<% end %>
		<% else %>
		
		<div class = "Induction" >
			
		<%= link_to("投稿するにはログインしてね！","/users/sign_in") %>
		
		</div>
	   <% end %>
	</div>
</div>