<div class ="main posts-index">
	<div class="container">
		<ul class="user-tabs">
			<li class="active"><%= link_to("人気","/posts/recent") %></li>
			<li ><%= link_to("索引","/posts/index") %></li>
			<li><%= link_to("新着ことば","/posts/recent") %></li>

		</ul>
		<% @comments.each do |comment| %>
		
		<div class="posts-index-item">
			
			<div class ="user-right" >
				<% post = Post.find_by(id: comment.post_id) %>
				【<%= link_to(post.content,"/posts/#{comment.post_id}") %>】
				<%= link_to(post.reading,"/posts/#{comment.post_id}") %> : 
				<span class = "comment">
					<%= link_to(comment.content,"/posts/#{comment.post_id}") %>
				</span>
				
			</div>

		</div>
		<% end %>
	</div>
</div>