
<div class ="main posts-show">
	<div class ="container">
		
		<div class ="posts-show-item">
			<div class ="post-word">
				<h2>
					【<%= @post.content %>】
				</h2>
				<h3>
					<%= @post.reading %>
				</h3>

			</div>

			
			<% @comments.each do |comment| %>
			<div class ="posts-comments">

				<%= link_to(comment.content, "/users/#{comment.user_id}") %>

				<% if session[:user_id] %>
				<% if Like.find_by(user_id: @current_user.id, comment_id: comment.id) %>
				<%= link_to("/likes/#{comment.id}/destroy",{method:"post"}) do %>
				<span class = "fa fa-heart like-btn"></span> 
				<% end %>
				<% else %>
				<%= link_to("/likes/#{comment.id}/create",{method:"post"}) do %>
				<span class = "fa fa-heart like-btn-unlike"></span>
				<% end %>
				<% end %>

				<% end %>
				<% if session[:user_id] == nil  %>
				<%= link_to("/users/signup") do %>
				<span class = "fa fa-heart like-btn"></span> 
				<% end %>
				<% end %>
				<% @likes_count = Like.where(comment_id: comment.id).count %>
				<%= @likes_count %>

			</div>
			
			<% end %>
			

		</div>
   
    <% if session[:user_id] %>
		<div class ="form comment-form">
			
			<%= form_tag("/comments/#{@post.id}/create")do %>
			<div class="form">
				<div class="form-body">

					<textarea name="content"></textarea>
					<input type ="submit" value="投稿">
				</div>
			</div>
			<% end %>



		</div>
		<% else %>
		<div class = "Induction" >
		<%= link_to("投稿してみる?","/users/signup") %>
		</div>
    <% end %>

	</div>

